# Existing Repository Requirements
python=3.12.10
langchain
openai
pydantic
pytest
sentence-transformers
transformers
chromadb
jupyter
tiktoken
langchain_community
langchain-openai
jq
langchain-chroma
python-dotenv
tqdm